@charset "UTF-8";

.box-shadow {
  box-shadow: 0 0 20px #ddd;
}

.mar-auto {
  margin: auto;
}

.mgl20,
.navbar .navbar-nav .search-li {
  margin-left: 20px;
}

.mgt20 {
  margin-top: 20px;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.pdl10 {
  padding-left: 10px;
}

.p-25 {
  padding-right: 25px;
}

.tc {
  text-align: center;
}

.bg-F2F2F2 {
  background-color: #F2F2F2 !important;
}

.bg-459FED {
  color: #459FED;
}

.f-36 {
  font-size: 36px;
}

.f-18 {
  font-size: 18px;
}

.pd30 {
  padding: 30px;
}

.pd20 {
  padding: 20px;
}

.pdb-100 {
  padding-bottom: 100px;
}

/**
 * 头部公用样式
 */

.navbar {
  border: 1px solid #ddd;
  box-shadow: 0 0 20px #ddd;
  background-color: #fff;
  margin-bottom: 0;
}

.navbar .navbar-toggle:hover {
  background-color: #f9f9f9;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #563d7c;
}

.navbar .navbar-brand {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: url("../images/h-logo.jpg") center 0 no-repeat;
}

.navbar .navbar-nav a {
  color: #777;
}

.navbar .navbar-nav a.a-active {
  color: #11A9EC;
}

.navbar .navbar-nav input {
  width: 150px;
  height: 30px;
  border-radius: 15px;
}

.navbar .navbar-nav .search-li {
  height: 50px;
  padding-top: 10px;
}

.navbar .navbar-nav .search-li .searchBtn {
  border: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url("../images/search.png") center no-repeat;
  display: inline;
  top: 6px;
  right: 6px;
  outline: none;
}

/**
 * footer样式
 */

footer {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0 0 20px #ddd;
}

.more {
  padding-top: 20px;
}

/**
 * main样式
 */

.main {
  margin-top: 50px;
}

.main .container .t-h {
  padding-top: 60px;
}

.main .container .line {
  display: inline-block;
  width: 81px;
  height: 4px;
  background-color: #449EEC;
  border-radius: 2px;
}

.main .container .t-detail {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}